.svg--inline {
  display: inline-block;
  height: 1em;
  width: 1em;
  font-size: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg--fluid {
  display: block;
  width: 100%;
  height: auto;
  overflow: visible;
}

.svg--repsonsive {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  overflow: visible;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
}

.fa-xs {
  font-size: .75em;
}

.fa-sm {
  font-size: .875em;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-6x {
  font-size: 6em;
}

.fa-7x {
  font-size: 7em;
}

.fa-8x {
  font-size: 8em;
}

.fa-9x {
  font-size: 9em;
}

.fa-10x {
  font-size: 10em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-fw {
  text-align: left;
  width: 1.25em;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

.fa-ul > li {
  position: relative;
}

.svg--inline.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.svg--inline.fa-w-1 {
  width: 0.0625em;
}

.svg--inline.fa-w-2 {
  width: 0.125em;
}

.svg--inline.fa-w-3 {
  width: 0.1875em;
}

.svg--inline.fa-w-4 {
  width: 0.25em;
}

.svg--inline.fa-w-5 {
  width: 0.3125em;
}

.svg--inline.fa-w-6 {
  width: 0.375em;
}

.svg--inline.fa-w-7 {
  width: 0.4375em;
}

.svg--inline.fa-w-8 {
  width: 0.5em;
}

.svg--inline.fa-w-9 {
  width: 0.5625em;
}

.svg--inline.fa-w-10 {
  width: 0.625em;
}

.svg--inline.fa-w-11 {
  width: 0.6875em;
}

.svg--inline.fa-w-12 {
  width: 0.75em;
}

.svg--inline.fa-w-13 {
  width: 0.8125em;
}

.svg--inline.fa-w-14 {
  width: 0.875em;
}

.svg--inline.fa-w-15 {
  width: 0.9375em;
}

.svg--inline.fa-w-16 {
  width: 1em;
}

.svg--inline.fa-w-17 {
  width: 1.0625em;
}

.svg--inline.fa-w-18 {
  width: 1.125em;
}

.svg--inline.fa-w-19 {
  width: 1.1875em;
}

.svg--inline.fa-w-20 {
  width: 1.25em;
}
